<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp-org/xml/ns/javaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp-org/xml/ns/javaee http://xmlns.jcp-org/xml/ns/javaee/web-app_3_1.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="3.1">
  <servlet>
    <servlet-name>Serv</servlet-name>
    <servlet-class>sample.Serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv</servlet-name>
    <url-pattern>/Serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Greeting</servlet-name>
    <servlet-class>sample.Greeting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Greeting</servlet-name>
    <url-pattern>/Greeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Kusokora</servlet-name>
    <servlet-class>sample.Kusokora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kusokora</servlet-name>
    <url-pattern>/Kusokora</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncFilter</filter-name>
    <filter-class>tool.EncFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>hellofilter</filter-name>
    <filter-class>tool.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hellofilter</filter-name>
    <url-pattern>/Serv</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>hellofilter2</filter-name>
    <filter-class>tool.HelloFilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hellofilter2</filter-name>
    <url-pattern>/Serv</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>3</session-timeout>
  </session-config>
</web-app>